@import '~antd/dist/antd.min.css';
@import '~@ant-design/pro-components/dist/components.css';

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    margin: 30px 17px;
    text-align: center;
}

.logo>h1 {
    color: white;
    font-weight: bold;
    line-height: 32px;
    /*设置line-height与父级元素的height相等*/
    text-align: center;
    /*设置文本水平居中*/
    display: inline-block;
}

.logo-text {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}

.site-page-header-ghost-wrapper {
    background-color: #FFF;
}

.layout-header {
    height: 60px;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    position: relative;
    display: flex;
}

.layout-header-left {
    flex: 1 1 0;
    margin-left: 24px;
}

.layout-header-right {
    text-align: right;
    margin-right: 24px;
}

.layout-header-right-item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
}

.page-herder {
    margin: 16px 16px 0 16px;
}

.page-search {
    background-color: white;
}

.page-search label {
    font-weight: bold;
}

.page-search .ant-form-item {
    margin-bottom: 0;
}

.page-container {
    margin: 16px;
}

.page-container-white {
    margin: 16px;
    padding: 24px;
    background-color: white;
}

.page-detail-warp {
    margin: 16px;
    /* padding: 0 16px 0 16px; */
}

.page-detail-info {
    background-color: white;
    padding: 24px;
}

.page-card {
    margin: 16px;
}

.user-in-menu {
    align-items: center;
    text-align: center;
    margin: 10px auto;
    color: white;
}

.user-in-menu>.nickname {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    padding: 2px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: fit-content;
    border-radius: 5%;
}

.modal-no-padding .ant-modal-body {
    padding: 0;
}

.modal-no-padding-bg-xterm .ant-modal-body {
    background-color: #121314;
}

.disabled-icon {
    cursor: not-allowed;
    color: #ccc;
}

.disabled-icon:hover {
    color: #ccc;
}

.nt-container {
    width: 80%;
    margin: 20px auto 0;
}

/* .nt-container> :nth-child(2) {
    background-color: #f0f2f5 !important;
}
.nt-container .ant-breadcrumb{
    margin-left: 10px;
} */
@media (max-width: 767px) {
    .nt-container {
        width: 90% !important;
    }

}

.km-header {
    color: white;
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    /*padding: 0 16px;*/
}

.km-header.is-mini {
    width: 100%;
    /* 小屏幕时设置宽度为 100% */
}

.km-header-left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.km-header-left a {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.km-header-left .ant-btn-text {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.km-header-right {
    text-align: left;
    height: 100%;
    margin: 0 8px;
}

.kd-content {
    margin-top: 20px;
    background-color: white;
}

.kd-page-header {
    background-color: white;
    margin-top: 20px;
}

.ant-page-header {
    padding: 0 !important;
}

.danger {
    color: red;
}

.danger:hover {
    color: red !important;
}

.xterm-viewport::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 8px;
    background-clip: content-box;
    border: 2px solid transparent;
}

.xterm-viewport[scroll]::-webkit-scrollbar-thumb,
.xterm-viewport::-webkit-scrollbar-thumb:hover {
    background-color: #bfbfbf;
    transition: 0s;
}

/*.ant-layout-sider::-webkit-scrollbar {*/
/*    background-color: transparent;*/
/*    !*background-color: red;*!*/
/*    width: 10px;*/
/*}*/

/*.ant-layout-sider::-webkit-scrollbar-thumb {*/
/*    background-color: inherit;*/
/*    border-radius: 8px;*/
/*    background-clip: content-box;*/
/*    border: 2px solid transparent;*/
/*}*/

/*.ant-layout-sider[scroll]::-webkit-scrollbar-thumb,*/
/*.ant-layout-sider::-webkit-scrollbar-thumb:hover {*/
/*    background-color: #bfbfbf;*/
/*    transition: 0s;*/
/*}*/


/* login */

.fill-blue {
    fill: #2684FF !important;
}

.stroke-blue {
    stroke: #2684FF !important;
}

.fill-indigo {
    fill: #6e00ff !important;
}

.stroke-indigo {
    stroke: #6e00ff !important;
}

.fill-purple {
    fill: #510FA8 !important;
}

.stroke-purple {
    stroke: #510FA8 !important;
}

.fill-pink {
    fill: #f074ad !important;
}

.stroke-pink {
    stroke: #f074ad !important;
}

.fill-red {
    fill: #FF5630 !important;
}

.stroke-red {
    stroke: #FF5630 !important;
}

.fill-orange {
    fill: #FFAB00 !important;
}

.stroke-orange {
    stroke: #FFAB00 !important;
}

.fill-yellow {
    fill: #ffcc00 !important;
}

.stroke-yellow {
    stroke: #ffcc00 !important;
}

.fill-green {
    fill: #36B37E !important;
}

.stroke-green {
    stroke: #36B37E !important;
}

.fill-teal {
    fill: #00B8D9 !important;
}

.stroke-teal {
    stroke: #00B8D9 !important;
}

.fill-cyan {
    fill: #4bd6e5 !important;
}

.stroke-cyan {
    stroke: #4bd6e5 !important;
}

.fill-white {
    fill: #FFF !important;
}

.stroke-white {
    stroke: #FFF !important;
}

.fill-gray {
    fill: #C0CCDA !important;
}

.stroke-gray {
    stroke: #C0CCDA !important;
}

.fill-gray-dark {
    fill: #3C4858 !important;
}

.stroke-gray-dark {
    stroke: #3C4858 !important;
}

.fill-primary {
    fill: #6e00ff !important;
}

.stroke-primary {
    stroke: #6e00ff !important;
}

.fill-secondary {
    fill: #EFF2F7 !important;
}

.stroke-secondary {
    stroke: #EFF2F7 !important;
}

.fill-success {
    fill: #36B37E !important;
}

.stroke-success {
    stroke: #36B37E !important;
}

.fill-info {
    fill: #00B8D9 !important;
}

.stroke-info {
    stroke: #00B8D9 !important;
}

.fill-warning {
    fill: #FFAB00 !important;
}

.stroke-warning {
    stroke: #FFAB00 !important;
}

.fill-danger {
    fill: #FF5630 !important;
}

.stroke-danger {
    stroke: #FF5630 !important;
}

.fill-light {
    fill: #EFF2F7 !important;
}

.stroke-light {
    stroke: #EFF2F7 !important;
}

.fill-dark {
    fill: #273444 !important;
}

.stroke-dark {
    stroke: #273444 !important;
}

.fill-neutral {
    fill: #FFF !important;
}

.stroke-neutral {
    stroke: #FFF !important;
}

.fill-white {
    fill: #FFF !important;
}

.stroke-white {
    stroke: #FFF !important;
}

.fill-primary-100 {
    fill: white !important;
}

.fill-primary-200 {
    fill: #e2ccff !important;
}

.fill-primary-300 {
    fill: #c599ff !important;
}

.fill-primary-400 {
    fill: #a866ff !important;
}

.fill-primary-500 {
    fill: #8b33ff !important;
}

.fill-primary-600 {
    fill: #7d1aff !important;
}

.stroke-primary-100 {
    stroke: white !important;
}

.stroke-primary-200 {
    stroke: #e2ccff !important;
}

.stroke-primary-300 {
    stroke: #c599ff !important;
}

.stroke-primary-400 {
    stroke: #a866ff !important;
}

.stroke-primary-500 {
    stroke: #8b33ff !important;
}

.stroke-primary-600 {
    stroke: #7d1aff !important;
}

.fill-section-primary {
    fill: #FFF !important;
}

.stroke-section-primary {
    stroke: #FFF !important;
}

.fill-section-secondary {
    fill: #FAFBFE !important;
}

.stroke-section-secondary {
    stroke: #FAFBFE !important;
}

.fill-section-light {
    fill: #E0E6ED !important;
}

.stroke-section-light {
    stroke: #E0E6ED !important;
}

.fill-section-dark {
    fill: #1a232d !important;
}

.stroke-section-dark {
    stroke: #1a232d !important;
}


.login-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.ant-layout-footer {
    background: var(--background-color-layout) !important;
    color: var(--text-color) !important;
}

.login-footer .ant-layout-footer {
    background: #f0f2f500 !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #0f52b1 !important;
}

.ant-layout-sider {
    background: #1565d6 !important;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark {
    background: #1565d6 !important;
}

.ant-menu.ant-menu-dark .ant-menu-sub {
    background: #0f52b1 !important;
}

.ant-layout-sider-trigger {
    background: #1565d6 !important;
}

.ant-layout-header {
    background: #1565d6 !important;
}


/* .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #0061ba !important;
}

.ant-layout-sider {
    background: #004381;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
    background: #004381;
}

.ant-layout-sider-trigger {
    background: #004381;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #004381;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #0061ba;
    border-radius: 10px;
    border: 2px solid #004381;
}

::-webkit-scrollbar-thumb:hover {
    background: #0061ba;
}

::-webkit-scrollbar-corner {
    background: #004381;
} */

.loading-box {
    align-items: center;
    background-color: #58697c91;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    text-align: center;
}

.loading-box .ant-spin-nested-loading>div>.ant-spin.ant-spin-show-text .ant-spin-dot {
    margin-left: 20px;
}

.btn-anti-virus {
    color: white;
    background-color: #188fffda
}

.btn-anti-virus:hover {
    color: white;
    background-color: #1890ff
}

.btn-upload-service {
    color: white;
    background-color: #53c41aba
}

.btn-upload-service:hover {
    color: white;
    background-color: #52c41a
}

.btn-cc-personnel {
    color: white;
    background-color: #53c41aba
}

.btn-cc-personnel:hover {
    color: white;
    background-color: #52c41a
}

/* 在你的全局或组件 CSS 文件中添加 */
.result-hidden,
.hidden {
    display: none !important;
}


/* CSS 文件 */
.responsive-modal {
    width: 50% !important;
}

@media (max-width: 768px) {
    .responsive-modal {
        width: 100% !important;
    }
}

/* 默认显示 breadcrumb */
.responsive-breadcrumb {
    display: block;
}

/* 在手机模式下隐藏 breadcrumb */
@media (max-width: 767px) {
    .responsive-breadcrumb {
        display: none;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明背景 */
    z-index: 1000;
    /* 确保遮蔽层在最上层 */
}


/* 整体滚动条样式 */
aside::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 8px;
    /* 滚动条宽度 */
    height: 8px;
    /* 滚动条高度 (水平滚动条) */
}

/* 滚动条轨道 */
aside::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background: #0f52b1;
    /* 轨道背景颜色 */
    border-radius: 8px;
    /* 轨道圆角 */
}

/* 滚动条滑块 */
aside::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background: #1890ff;
    /* 滑块颜色 */
    border-radius: 8px;
    /* 滑块圆角 */
}

/* 滑块悬停时样式 */
aside::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
    background: #1565d6;
    /* 滑块悬停时颜色 */
}



.collapse-box {
    margin-bottom: 10px;
    /* margin-right: 5px; */

}

.collapse-box .ant-list-item {
    padding: 6px 10px !important;
}

.collapse-box .ant-collapse-header {
    padding: 4px !important;
    background-color: white !important;
    border: 0px !important;
}

.collapse-box .ant-collapse-content {
    border: 0px !important;
}

.collapse-box.ant-collapse,
.collapse-box.ant-collapse>.ant-collapse-item {
    border: 0px !important;
}


.border1 {
    border: 1px solid #f0f0f0;
}

/* CSS 文件 */
.no-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.user-tab-active {
    /* font-weight: unset; */
    border-bottom: 2px solid white;
    background: rgb(182 220 255 / 11%);
    height: 64px;
    transform: translateY(1px);
    /* 轻微下移模拟按压效果 */
}

h1.ant-typography {
    color: #1890ff !important;
}

.fileCard .ant-card-body {
    overflow: auto;
    margin: 10px;
    padding: 0px !important;
}

.ant-tabs-nav-wrap {
    padding: 0px 20px;
    background: white;
}

@media (max-width: 768px) {
    div[data-node-key="totp"].ant-tabs-tab ,div[data-node-key="about"].ant-tabs-tab {
        margin-right: 30px !important;
    }
}